PORT=8000
AZURE_SQL_SMALL_SERVER=
AZURE_SQL_SMALL_DATABASE=
AZURE_SQL_LARGE_SERVER=vbnech-large-server.database.windows.net
AZURE_SQL_LARGE_DATABASE=vbench_large
AZURE_SQL_REPLICA_SERVER=vbnech-large-server.database.windows.net
AZURE_SQL_REPLICA_DATABASE=research-replica
CALDOVA_LARGE_SCALE_MODE=1M
EMBEDDING_SERVICE_URL=http://127.0.0.1:8081
CALDOVA_QUERY_VECTORS_PATH=server/data/query-vectors.json